option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: VAV.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: VAV.settings

container_commands:
  01_collectstatic:
    command: "PYTHON=$(ls -d /var/app/venv/*/bin/python | head -1) && $PYTHON manage.py collectstatic --noinput"
    leader_only: false
  02_migrate:
    command: "PYTHON=$(ls -d /var/app/venv/*/bin/python | head -1) && $PYTHON manage.py migrate --noinput"
    leader_only: true
  03_create_superuser:
    command: "PYTHON=$(ls -d /var/app/venv/*/bin/python | head -1) && $PYTHON manage.py shell -c \"import os; from django.contrib.auth import get_user_model; User=get_user_model(); username=os.environ.get('DJANGO_SUPERUSER_USERNAME'); password=os.environ.get('DJANGO_SUPERUSER_PASSWORD'); email=os.environ.get('DJANGO_SUPERUSER_EMAIL', 'admin@example.com'); User.objects.filter(username=username).exists() or (username and password and User.objects.create_superuser(username=username, email=email, password=password))\""
    leader_only: true
